*{
    margin:0;
    padding:0;
    background-color:rgb(0, 0, 0);
    width: 100%;
    color: rgb(247, 238, 238);
}
#logo{
    width: 250px;
    margin: 10px 200px;
}
#nav{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
}
#nav a{
    margin: 20px;
}

#header{
    display: flex;
}
#header h1{
    margin-top: 30px;
}

#header h1{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#root{
    width: 80%;
    margin: auto;
    padding: 10px;
}

#root input{
    margin: 15px;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    text-indent: 20px;
    border: solid 2px aqua;
    display: flex;
    width: 200px;
}

#root button{
    width: 80px;
    border: solid 2px aqua;
}

#root p{
    color: red;
}
#root .note-container{
    border-radius: 15px;
    border: 2px solid white;
    margin:10px;
    padding: 15px;
}

#content{
    width: 90%;
    height: 150px;
    margin: 15px;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    text-indent: 20px;
    border: solid 2px aqua;
    display: flex;
}

#create-note-form{
    border: 3px solid aqua;
    border-radius: 15px;
    width: 100%;
    padding: 15px;
    margin: 10px
}


